.header {
  height: 180px;
  padding: 20px;
}

.header p{
	line-height: 16px;
	font-size: 12px;
	color: #b3afa8;
}

body{
	font-family: "Geneva",sans-serif;
}

.graph{
	padding:20px;
	position: relative;
}

.btn-group{
	position:relative;
}

.plot{
	height:600px;
	width:100%
}

.key-1{
	padding-top:10px;
}

.key-1 p{
	line-height: 16px;
	font-size: 13px;
	font-weight: bold;
	color: red;
}

.key-1 p span{
	line-height: 16px;
	font-size: 13px;
	color: #b3afa8;
}

.key-2 p {
	line-height: 16px;
	font-size: 13px;
	font-weight: bold;
	color: black;
} 

.key-2 p span{
	line-height: 16px;
	font-size: 13px;
	color: #b3afa8;
} 

h1{
	font-family: "Bodoni", serif;
	font-weight: bold;
	font-size: 34px;
	text-align: center;
}

h4{
	font-size: 16px;
	font-weight: bold;
}

h6{
	font-size: 12px;
	color: #b3afa8;
}

.custom-tooltip{
	position:absolute;
	width:250px;
	min-height:20px;
/*	line-height: 2;*/
  	/*background: #f5f4e2;*/
  	background:white;
  	border-width:2px;
  	border-color:#dfefff;
  	border-style: solid;
  	visibility: hidden;
  	padding:10px;
  	/*color:black;*/
  		
}

.custom-tooltip p{
	/*line-height: 6px;*/
	font-size: 12px;
	color: black;
	margin:0px;
	
}

#value-country{
	font-size:9pt;
  	font-weight: bold;
  	color:#999594;
}

#value-GDP{
	font-size:8pt;
  	font-weight: bold;
  	color:#999594;
}

.axis-x axis{
	stroke:#333;
	stroke-opacity:0.1;
}

/*.axis-x text{
	
}*/

.axis-y axis{
	stroke:#333;
	stroke-opacity:0.1;
}

